/*! CSS Used from: Embedded */
svg:not(:root).svg-inline--fa{overflow:visible;}
.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-0.125em;}
.svg-inline--fa.fa-w-8{width:0.5em;}
.svg-inline--fa.fa-w-10{width:0.625em;}
.svg-inline--fa.fa-w-12{width:0.75em;}
.svg-inline--fa.fa-w-14{width:0.875em;}
.svg-inline--fa.fa-w-16{width:1em;}
.svg-inline--fa.fa-w-18{width:1.125em;}
.svg-inline--fa.fa-w-20{width:1.25em;}
.sr-only{border:0;clip:rect(0, 0, 0, 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
/*! CSS Used from: https://control.divio.com/static/css/base.92a500d67edd.css */
:root{--white:#fff;--gray-100:#f4f4f4;--gray-200:#dddedf;--gray-300:#c9cccd;--gray-400:#a2a7a8;--gray-600:#5a6162;--gray-800:#3b4446;--gray-900:#152022;--black:#000;--blue-01:#3c40f5;--blue-02:#7275f8;--blue-03:#8d98f5;--blue-04:#b5c0fe;--blue-05:#cfdaff;--blue-06:#ecf0ff;--clay-01:#aec3c1;--clay-02:#becfce;--clay-03:#cddad9;--clay-04:#dfe8e7;--clay-05:#f1f6f6;--clay-06:#f7f9f8;--platinum-01:#e5e6e1;--platinum-02:#ebece8;--platinum-03:#efefed;--platinum-04:#f4f4f4;--platinum-05:#f8f8f8;--platinum-06:#fbfbfb;--primary:#dfff67;--secondary:#3c40f5;--secondary-light:var(--gray-400);--success:#96b236;--warning:#ffa33d;--danger:#e20000;--success-fg:#577722;--warning-fg:#b75f10;}
:root{--filter-from-icon-color-to-danger:invert(13%) sepia(86%) saturate(7028%) hue-rotate(359deg) brightness(99%) contrast(112%);--filter-from-old-secondary-to-new-choice-color:sepia(8%) saturate(0%) hue-rotate(95deg) brightness(84%) contrast(106%);--body-bg:#f5f7f8;--body-color:#152022;--nprogress-color:var(--blue-03);--environment-card-box-shadow:0 2px 4px rgba(0, 0, 0, 0.15);--create-environment-trigger-button-color:var(--body-color);--create-environment-trigger-button-bg:#e8ecef;--create-environment-trigger-button-bg-hover:#dfe5e8;--link-color:#3c40f5;--link-hover-color:#0b10d9;--box-shadow-color:rgba(0, 0, 0, 0.1);--box-shadow-lg-color:rgba(0, 0, 0, 0.25);--box-shadow-xl-color:rgba(0, 0, 0, 0.05);--component-hover-bg:var(--gray-100);--component-active-bg:#3c40f5;--component-active-color:var(--white);--component-border-color:var(--gray-300);--text-muted:var(--gray-600);--text-muted-link-color:var(--gray-800);--hr-border-color:#e5e9ed;--number-input-border:var(--component-border-color);--kbd-box-shadow-color:var(--gray-400);--kbd-text-shadow:0 1px 0 var(--white);--kbd-color:var(--white);--kbd-bg:var(--gray-900);--kbd-border-color:var(--gray-400);--table-bg:var(--white);--table-accent-bg:var(--component-hover-bg);--table-hover-bg:#f0f1fe;--table-border-color:var(--gray-300);--table-caption-color:var(--text-muted);--table-sticky-col-shadow-color:rgba(0, 0, 0, 0.2);--table-sticky-col-shadow:-1px 0 0 var(--table-sticky-col-shadow-color);--btn-default-bg:var(--toolbar-bg);--btn-default-hover-bg:var(--component-hover-bg);--btn-default-color:var(--body-color);--btn-default-border-color:var(--gray-300);--btn-box-shadow:0 1px 1px rgba(0, 0, 0, 0.08);--btn-active-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);--btn-link-disabled-color:var(--gray-300);--btn-ellipsis-hover-bg:var(--gray-200);--label-with-icon-border-color:var(--btn-default-border-color);--label-with-icon-bg:var(--input-bg);--label-with-icon-button-border-color:var(--btn-default-border-color);--label-with-icon-button-color:#bbbcfc;--form-control-label-color:var(--body-color);--input-bg:var(--gray-100);--input-disabled-bg:var(--input-bg);--input-color:var(--body-color);--input-disabled-color:var(--body-color);--input-border-color:transparent;--input-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.04);--input-focus-box-shadow:0 0 0 0.2rem var(--input-btn-focus-color);--input-invalid-focus-box-shadow:0 0 0 0.2rem var(--form-feedback-invalid-box-shadow-color);--input-hover-bg:#f1f1f1;--input-focus-bg:var(--white);--input-focus-color:var(--input-color);--input-placeholder-color:var(--gray-400);--input-focus-border-color:#b5b7fb;--input-btn-focus-color:var(--blue-05);--custom-control-indicator-bg:#d8d9da;--custom-control-indicator-active-bg:#e6e6fe;--custom-control-indicator-invalid-bg:#ff6363;--custom-control-label-disabled-color:var(--gray-600);--custom-control-indicator-checked-color:#fff;--custom-checkbox-indicator-icon-checked:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");--custom-checkbox-indicator-icon-indeterminate:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");--custom-control-indicator-checked-bg:var(--secondary);--custom-control-indicator-checked-disabled-bg:rgba(60, 64, 245, 0.5);--custom-control-indicator-focus-box-shadow:0 0 0 1px var(--body-bg), var(--input-focus-box-shadow);--custom-control-indicator-active-color:var(--component-active-color);--custom-checkbox-indicator-indeterminate-bg:var(--component-active-bg);--custom-select-disabled-color:var(--gray-600);--custom-select-indicator-color:#3b4446;--custom-select-indicator:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='%233b4446' d='M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z'/%3E%3C/svg%3E");--select-option-selected-bg:var(--secondary);--select-option-selected-color:var(--white);--select-option-focused-bg:var(--component-hover-bg);--select-control-focused-border-color:var(--secondary);--select-menu-bg:var(--dropdown-bg);--select-menu-box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);--select-option-multi-value-bg:var(--select-option-selected-bg);--select-option-multi-value-color:var(--select-option-selected-color);--select-theme-light-bg:var(--white);--select-theme-light-border-color:var(--component-border-color);--custom-file-button-bg:var(--white);--form-feedback-invalid-color:var(--danger);--form-feedback-invalid-link-color:#240000;--form-feedback-invalid-box-shadow-color:rgba(226, 0, 0, 0.25);--form-feedback-invalid-box-shadow:0 0 0 0.2rem var(--form-feedback-invalid-box-shadow-color);--dropdown-bg:var(--panel-bg);--dropdown-color:var(--body-color);--dropdown-border-color:rgba(0, 0, 0, 0.15);--dropdown-divider-bg:var(--panel-separator-color);--dropdown-box-shadow:0 0 4px var(--box-shadow-lg-color);--dropdown-link-color:var(--body-color);--dropdown-link-hover-color:var(--body-color);--dropdown-link-hover-bg:var(--component-hover-bg);--dropdown-link-active-color:var(--component-active-color);--dropdown-link-active-bg:var(--component-active-bg);--dropdown-link-disabled-color:var(--gray-300);--dropdown-header-color:var(--secondary);--dropdown-close-color:rgba(21, 32, 34, 0.5);--dropdown-close-hover-color:#152022;--pagination-color:var(--secondary);--pagination-bg:var(--white);--pagination-border-color:var(--gray-300);--pagination-focus-box-shadow:var(--input-focus-box-shadow);--pagination-hover-color:var(--link-hover-color);--pagination-hover-bg:var(--gray-200);--pagination-hover-border-color:var(--gray-300);--pagination-active-color:var(--component-active-color);--pagination-active-bg:var(--component-active-bg);--pagination-active-border-color:var(--pagination-active-bg);--pagination-disabled-color:var(--secondary-light);--pagination-disabled-bg:var(--white);--pagination-disabled-border-color:var(--gray-300);--tooltip-color:var(--tooltip-default-color);--tooltip-bg:var(--tooltip-default-bg);--tooltip-default-color:var(--body-color);--tooltip-default-bg:var(--white);--tooltip-box-shadow:var(--dropdown-box-shadow);--tooltip-link-color:var(--black);--modal-content-bg:var(--panel-bg);--modal-content-border-color:rgba(0, 0, 0, 0.2);--modal-content-box-shadow:0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);--modal-backdrop-bg:#f9fbfc;--modal-header-border-color:var(--panel-separator-color);--modal-footer-border-color:var(--modal-header-border-color);--progress-bg:#f6f8f9;--progress-box-shadow:inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);--progress-bar-color:var(--white);--progress-bar-stripe-bg:rgba(255, 255, 255, 0.15);--progress-bar-bg:var(--secondary);--close-color:var(--body-color);--close-text-shadow:0 1px 0 var(--white);--code-color:var(--black);--code-disabled-color:var(--gray-600);--code-bg:rgba(0, 0, 0, 0.08);--pre-color:var(--white);--pre-bg:var(--body-color);--toastify-text-color:var(--white);--toastify-color-info:var(--secondary);--toastify-color-success:var(--success);--toastify-color-warning:var(--warning);--toastify-color-error:var(--danger);--toastify-toast-background:var(--white);--toastify-text-color-info:var(--white);--toastify-text-color-success:var(--white);--toastify-text-color-warning:var(--white);--toastify-text-color-error:var(--white);--toastify-icon-color-info:var(--toastify-text-color-info);--toastify-icon-color-success:var(--toastify-text-color-success);--toastify-icon-color-warning:var(--toastify-text-color-warning);--toastify-icon-color-error:var(--toastify-text-color-error);--skeleton-base:gainsboro;--skeleton-highlight:#e3e3e3;--backup-tag-color:var(--white);--backup-daily-tag-bg:var(--blue-01);--backup-weekly-tag-bg:#e00087;--backup-monthly-tag-bg:#138090;--date-picker-color:var(--input-color);--date-picker-border-color:var(--component-border-color);--date-picker-dropdown-border-color:#f0f0f0;--date-picker-dropdown-color:rgba(0, 0, 0, 0.65);--date-picker-dropdown-cell-hover-bg:var(--body-bg);--date-picker-preset-border-color:#cbc6fc;--date-picker-selection-tentative-border-color:#7b7ef8;--date-picker-in-range-cell-hover-bg:#fefeff;--date-picker-preset-color:var(--secondary);--date-picker-preset-bg:rgba(60, 64, 245, 0.1);--date-picker-range-arrow-box-shadow:2px -2px 6px rgba(0, 0, 0, 0.06);--date-picker-bg:var(--select-theme-light-bg);--select-theme-light-border-color:var(--component-border-color);--date-picker-panel-container-box-shadow:0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);--date-picker-panel-focused-border-color:var(--secondary);--date-picker-header-color:rgba(0, 0, 0, 0.85);--date-picker-header-button-color:rgba(0, 0, 0, 0.25);--date-picker-header-button-hover-color:rgba(0, 0, 0, 0.65);--date-picker-header-view-button-hover-color:var(--secondary);--date-picker-header-cell-color:rgba(0, 0, 0, 0.65);--date-picker-week-panel-row-selected-bg:var(--secondary);--date-picker-week-panel-row-selected-color:rgba(255, 255, 255, 0.5);--date-picker-week-panel-row-selected-border-color:var(--white);--date-picker-cell-not-in-view-color:rgba(0, 0, 0, 0.25);--date-picker-cell-color:rgba(0, 0, 0, 0.65);--date-picker-cell-disabled-color:var(--date-picker-cell-not-in-view-color);--date-picker-cell-today-border-color:var(--secondary);--date-picker-in-range-cell-active-bg:rgba(60, 64, 245, 0.1);--date-picker-cell-range-selected-bg:var(--secondary);--date-picker-time-panel-column-active-bg:rgba(60, 64, 245, 0.2);--date-picker-clear-color:rgba(0, 0, 0, 0.25);--date-picker-clear-hover-color:rgba(0, 0, 0, 0.45);--date-picker-active-bar-bg:var(--component-active-bg);--godmode-highlight-color:rgba(231, 249, 255, 0.5);--godmode-toolbar-color:rgba(255, 163, 61, 0.1);--nav-link-color:var(--body-color);--nav-link-active-color:var(--secondary);--nav-divider-border-color:rgba(60, 88, 121, 0.1);--filters-btn-color:var(--nav-link-color);--filters-btn-active-color:var(--nav-link-active-color);--context-switcher-icon-bg:var(--primary);--context-switcher-option-color:var(--secondary-light);--context-switcher-option-hover-color:var(--secondary);--context-switcher-name-hover-color:var(--link-hover-color);--org-avatar-bg:var(--context-switcher-icon-bg);--org-avatar-color:var(--body-color);--choice-bg:var(--toolbar-bg);--choice-warning-color:var(--warning-fg);--choice-active-border:var(--component-active-bg);--choice-warning-border-color:var(--warning);--choice-disabled-color:var(--secondary-light);--choice-disabled-bg:var(--component-hover-bg);--choice-color:var(--body-color);--choice-border-color:var(--hr-border-color);--changelog-version-color:var(--body-color);--changelog-version-bg:var(--primary);--slider-track-disabled-bg:#ccc;--slider-track-active-bg:var(--secondary);--slider-handle-bg:var(--white);--slider-handle-box-shadow:0 2px 4px rgba(140, 140, 140, 0.3), 0 -2px 4px rgba(140, 140, 140, 0.2);--slider-handle-active-box-shadow:0 2px 4px rgba(140, 140, 140, 0.5), 0 -2px 4px rgba(140, 140, 140, 0.5);--slider-handle-dragging-border-color:var(--secondary);--slider-dot-bg:var(--white);--slider-dot-border-color:var(--hr-border-color);--slider-dot-active-border-color:var(--secondary);--slider-mark-text-color:var(--secondary-light);--slider-mark-text-active-color:var(--gray-600);--slider-disabled-bg:var(--gray-200);--bug-list-color:var(--alert-color);--bug-list-bg:var(--alert-inside-panel-bg);--application-repository-bg:#ecf0f2;--application-repository-title-color:var(--success-fg);--application-repository-warning-color:#a6560f;--list-group-item-success-bg:rgba(150, 178, 54, 0.1);--collaborator-add-button-color:var(--secondary-light);--loader-color:var(--secondary-light);--action-label-button-bg:transparent;--action-label-text-color:var(--body-color);--action-label-icon-color:var(--secondary-light);--action-label-hover-bg:var(--white);--action-label-hover-color:var(--body-color);--change-avatar-hover-color:var(--white);--change-avatar-hover-bg:var(--loader-color);--activity-default-icon-color:var(--gray-400);--activity-icon-bg:var(--panel-bg);--activity-link-color:var(--secondary-light);--cookie-bar-color:var(--white);--cookie-bar-link-color:var(--primary);--cookie-bar-bg:var(--gray-900);--alert-bg:var(--white);--alert-color:var(--body-color);--alert-inside-panel-bg:var(--component-hover-bg);--alert-link-color:var(--body-color);--alert-danger-color:var(--danger);--toolbar-bg:var(--white);--toolbar-nav-link-color:var(--body-color);--toolbar-nav-link-active-color:var(--secondary);--toolbar-nav-link-disabled-color:rgba(21, 32, 34, 0.3);--search-icon-color:var(--input-color);--search-input-bg:var(--input-bg);--toggle-text-bg:var(--toolbar-bg);--toggle-text-color:var(--body-color);--localdev-teaser-color:var(--secondary);--logs-toolbar-bg:var(--toolbar-bg);--logs-toolbar-border-color:var(--hr-border-color);--logs-toolbar-btn-bg:var(--logs-toolbar-bg);--logs-toolbar-btn-color:var(--btn-default-color);--logs-line-sticky-bg:var(--logs-toolbar-btn-bg);--logs-line-sticky-color:var(--logs-toolbar-btn-color);--marketing-bg:var(--panel-bg);--strike-through-text-border-color:var(--component-border-color);--strike-through-text-color:var(--body-color);--panel-bg:var(--toolbar-bg);--panel-separator-color:var(--gray-200);--metrics-cross-border-color:var(--black);--metrics-plot-bg:rgba(226, 0, 0, 0.1);--metrics-tooltip-color:var(--white);--metrics-max-usage-bg:#fefafa;--metrics-datapoint-bg:rgba(0, 0, 0, 0.75);--error-page-bg:var(--body-bg);--print-border-color:var(--black);--password-green:#00b200;--password-yellow:#ffbf00;--password-red:#ec0000;--password-bg:var(--gray-400);--broadcast-box-shadow:0 0 100px rgba(0, 0, 0, 0.75);--highcharts-gridline-color:#e6e6e6;--mirror-title-color:var(--body-color);--mirror-title-bg:var(--gray-300);--builder-accent:var(--gray-300);--builder-category-bg:var(--gray-100);--builder-tier-color:var(--gray-100);--builder-tier-bg:var(--gray-200);--builder-tier-border:var(--builder-accent);--environment-label-border-color:var(--gray-200);}
@media (min-width: 576px){
:root{--modal-content-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.5);}
}
*,*::before,*::after{box-sizing:border-box;}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:rgba(0,0,0,0);}
aside,header,nav{display:block;}
body{margin:0;font-family:"Helvetica Now","Helvetica Neue","Helvetica",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:1rem;font-weight:400;line-height:1.5;color:#152022;color:var(--body-color);text-align:left;background-color:#f5f7f8;background-color:var(--body-bg);}
[tabindex="-1"]:focus{outline:0!important;}
h1,h2,h3{margin-top:0;margin-bottom:.3125rem;}
p{margin-top:0;margin-bottom:1rem;}
ul{margin-top:0;margin-bottom:1rem;}
strong{font-weight:bolder;}
a{color:#3c40f5;color:var(--link-color);text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects;}
a:hover{color:#0b10d9;color:var(--link-hover-color);text-decoration:underline;}
svg{overflow:hidden;vertical-align:middle;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type=button]{-webkit-appearance:button;}
textarea{overflow:auto;resize:vertical;}
h1,h2,h3{margin-bottom:.3125rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit;}
h1{font-size:2.5rem;}
h2{font-size:2rem;}
h3{font-size:1.75rem;}
.list-unstyled{padding-left:0;list-style:none;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-xl-20,.col-xl-16,.col-xl-4,.col-lg-19,.col-lg-5,.col-md-18,.col-md-6,.col,.col-24{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.col-24{flex:0 0 100%;max-width:100%;}
@media (min-width: 768px){
.col-md-6{flex:0 0 25%;max-width:25%;}
.col-md-18{flex:0 0 75%;max-width:75%;}
.order-md-1{order:1;}
.order-md-2{order:2;}
}
@media (min-width: 992px){
.col-lg-5{flex:0 0 20.8333333333%;max-width:20.8333333333%;}
.col-lg-19{flex:0 0 79.1666666667%;max-width:79.1666666667%;}
}
@media (min-width: 1200px){
.col-xl-4{flex:0 0 16.6666666667%;max-width:16.6666666667%;}
.col-xl-16{flex:0 0 66.6666666667%;max-width:66.6666666667%;}
.col-xl-20{flex:0 0 83.3333333333%;max-width:83.3333333333%;}
}
.bg-transparent{background-color:transparent!important;}
.d-flex{display:flex!important;}
@media print{
.d-print-none{display:none!important;}
}
.justify-content-between{justify-content:space-between!important;}
.align-items-center{align-items:center!important;}
.mb-0{margin-bottom:0!important;}
.ml-1{margin-left:.625rem!important;}
.mt-2{margin-top:1.25rem!important;}
.mt-3{margin-top:1.875rem!important;}
.pt-0{padding-top:0!important;}
.pr-0,.px-0{padding-right:0!important;}
.px-0{padding-left:0!important;}
.ml-auto{margin-left:auto!important;}
@media (min-width: 768px){
.mt-md-0{margin-top:0!important;}
.pl-md-4{padding-left:2.5rem!important;}
}
@media (min-width: 992px){
.pl-lg-1{padding-left:.625rem!important;}
}
@media (min-width: 1200px){
.pl-xl-4{padding-left:2.5rem!important;}
}
.text-danger{color:#e20000!important;}
html{scroll-behavior:smooth;height:100%;-webkit-text-size-adjust:100%;text-rendering:optimizeLegibility;font-feature-settings:none;font-variant-ligatures:none;-webkit-font-variant-ligatures:none;-moz-osx-font-smoothing:grayscale;font-smoothing:antialiased;-webkit-font-smoothing:antialiased;}
body{font-size:12px;line-height:18px;height:100%;overflow-y:scroll;overflow-x:hidden;min-height:100%;}
:root{--header-height:58px;--toolbar-width:48px;--panel-padding:20px;}
@media (min-width: 576px){
:root{--header-height:76px;--toolbar-width:64px;}
}
@media (min-width: 768px){
:root{--panel-padding:24px;}
}
@media (min-width: 992px){
:root{--panel-padding:30px;}
}
.hairline-space{display:inline-block;width:1px;}
a:hover,a:active,a:focus{text-decoration:none;}
@media (min-width: 1200px){
.w-xl-80{width:80%!important;}
}
.modal-content{border:0;border-radius:.25rem;box-shadow:0 1px 32px 0 rgba(0, 0, 0, 0.05);box-shadow:0 1px 32px 0 var(--box-shadow-xl-color);}
.modal-body{padding:30px;}
@media (min-width: 992px){
.modal-dialog{margin:65px auto;}
}
.modal-dialog-form{margin:155px auto;}
@media (min-width: 992px){
.modal-dialog-form{width:800px;}
}
.modal-dialog-form .modal-body{padding:0;}
.icon{display:inline-block;vertical-align:middle;width:1em;height:1em;flex-shrink:0;}
.icon svg{display:block;width:100%!important;height:100%!important;}
a .icon svg,a .icon use{fill:currentColor;}
.icon-color-primary svg,.icon-color-primary use{fill:#dfff67!important;color:#dfff67!important;}
.icon-color-primary svg,.icon-color-primary use{fill:#3c40f5!important;fill:var(--secondary)!important;color:#3c40f5!important;color:var(--secondary)!important;}
.icon-left{margin-right:5px;}
.browser-outdated{display:none;position:fixed;bottom:0;left:0;z-index:9999;color:#fff!important;text-align:center;text-transform:uppercase;width:100%;height:auto;background-color:#ffa33d!important;padding:20px;}
.browser-outdated .btn--outline{color:#fff;border:2px solid #fff;}
.browser-outdated .last{position:absolute;top:20px;right:20px;}
.browser-outdated .last a{display:inline-block;color:#fff;font-size:36px;line-height:1;text-decoration:none;}
@media print{
*,*:before,*:after{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
body{min-width:992px!important;}
}
*:focus{outline:none!important;}
#flying-focus{position:absolute;margin:0;top:-100px;background:transparent;transition-property:left,top,width,height,opacity;transition-timing-function:cubic-bezier(0, 0.2, 0, 1);visibility:hidden;pointer-events:none;display:none;}
#flying-focus:after{top:-9px;left:-9px;bottom:-9px;right:-9px;border-radius:3px;content:"";position:absolute;border:1px solid rgba(221,222,223,.85);box-shadow:0 0 54px 0px rgba(0,0,0,.25),0 0 5px 1px #fff inset;}
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active){
#flying-focus:after{box-shadow:0 0 15px 0px rgba(0,0,0,.125),0 0 5px 1px #fff inset;}
}
/*! CSS Used from: https://control.divio.com/static/css/common.4da6ee20c09c.css */
.btn{text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color 300ms cubic-bezier(0.4, 0, 0.2, 1),background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);}
@media screen and (prefers-reduced-motion: reduce){
.btn{transition:none;}
}
.btn:hover,.btn:focus{text-decoration:none;}
.btn:focus{outline:0;box-shadow:none;}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn:not(:disabled):not(.disabled){cursor:pointer;}
.btn:not(:disabled):not(.disabled):active{box-shadow:var(--btn-active-box-shadow);}
.btn:not(:disabled):not(.disabled):active:focus{box-shadow:var(--btn-active-box-shadow);}
.btn--outline-danger{color:#e20000;background-color:transparent;background-image:none;border-color:#e20000;}
.btn--outline-danger:hover{color:var(--white);background-color:#e20000;border-color:#e20000;}
.btn--outline-danger:focus{box-shadow:0 0 0 .2rem rgba(226,0,0,.5);}
.btn--outline-danger:disabled{color:#e20000;background-color:transparent;}
.btn--outline-danger:not(:disabled):not(.disabled):active{color:var(--white);background-color:#e20000;border-color:#e20000;}
.btn--outline-danger:not(:disabled):not(.disabled):active:focus{box-shadow:var(--btn-active-box-shadow),0 0 0 .2rem rgba(226,0,0,.5);}
.btn{font-size:14px;font-weight:500;line-height:18px;display:inline-flex;align-items:center;height:36px;padding-top:0px;padding-bottom:0px;}
.panel-footer .btn{min-width:136px;justify-content:center;}
.btn svg{fill:currentColor;}
.btn--xs{height:24px;font-size:12px;}
.btn--default{border-color:var(--btn-default-border-color);background-color:var(--btn-default-bg);}
.btn--default,.btn--default:hover{color:var(--btn-default-color);}
.btn--default:not(:disabled):not(.disabled):active,.btn--default:hover,.btn--default:focus{background-color:var(--btn-default-hover-bg);}
:root{--toastify-toast-width:320px;--toastify-toast-min-height:50px;--toastify-toast-max-height:800px;--toastify-z-index:99999!important;}
.action-label{display:flex;flex-direction:row;background-color:var(--body-bg);border-radius:3px;height:36px;align-items:center;padding-left:13px;padding-right:13px;}
.action-label__text{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;flex-grow:1;font-size:14px;font-weight:500;line-height:18px;text-transform:none;color:var(--action-label-text-color);}
.action-label__suffix{margin-left:10px;white-space:nowrap;}
.action-label__suffix:empty{display:none;}
.btn.action-label__button{height:24px;font-size:12px;color:var(--action-label-button-color);background-color:var(--action-label-button-bg);min-width:90px;justify-content:center;text-transform:uppercase;}
.btn.action-label__button:hover{background:var(--action-label-hover-bg);color:var(--action-label-hover-color);}
.alert{position:relative;padding:.9375rem 1.25rem;margin-bottom:1rem;border:0;border-radius:.25rem;}
.alert-link{font-weight:700;}
.alert{font-size:12px;line-height:18px;background:var(--alert-bg);color:var(--alert-color);border:none;display:flex;flex-direction:row;align-items:flex-start;padding-right:30px;}
.alert>.icon{width:20px;height:20px;margin-top:-2px;}
.alert>.icon-left{margin-right:15px;}
.alert .alert-link{color:var(--alert-link-color);border:0;background:transparent;padding:0;}
.alert .alert-link:hover{text-decoration:underline;}
.alert p{margin-bottom:8px;}
.alert p:last-child{margin-bottom:0px;}
.panel .alert{background:var(--alert-inside-panel-bg);}
.alert-info .icon{color:var(--secondary)!important;}
.alert-info .icon svg,.alert-info .icon use{fill:var(--secondary)!important;}
.panel-heading{position:relative;padding:calc(var(--panel-padding) - 2px) var(--panel-padding) calc(var(--panel-padding) - 10px);}
.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0;}
.panel-title{font-weight:500;font-size:15px;line-height:19px;color:var(--body-color);display:flex;align-items:center;white-space:nowrap;min-width:0;min-height:24px;margin:0;}
.panel-title .panel-title-inner{min-width:0;text-overflow:ellipsis;overflow:hidden;}
.panel{background-color:var(--panel-bg);border-radius:.25rem;box-shadow:0 1px 3px 0 var(--box-shadow-color);}
.panel-body{padding:var(--panel-padding);}
.panel-footer{padding:calc(var(--panel-padding) + 1px) var(--panel-padding) var(--panel-padding);display:flex;flex-direction:row;justify-content:space-between;align-items:center;position:relative;}
.panel-footer:before{content:"";display:block;height:1px;position:absolute;left:var(--panel-padding);right:var(--panel-padding);top:0;background-color:var(--hr-border-color);}
.panel-footer:empty{display:none;}
@media (max-width: 991.98px){
.panel-footer{flex-direction:column;}
.panel-footer .btn{width:100%;margin-bottom:10px!important;}
.panel-footer .btn:last-child{margin-bottom:0!important;}
}
.layout{padding:0 0 0 calc(var(--toolbar-width) + 2px);}
@media (min-width: 768px){
.layout{padding:0 0 50px calc(var(--toolbar-width) + 2px);}
}
@media (min-width: 992px){
.layout{padding:0 20px 50px calc(var(--toolbar-width) + 22px);}
}
@media (min-width: 1200px){
.layout{padding:0 20px 50px calc(var(--toolbar-width) + 22px);}
}
.fluid-layout{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.content-loading{position:relative;margin:0 auto;width:40px;}
.content-loading:before{content:"";display:block;padding-top:100%;}
.content-loading .circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;transform-origin:center center;width:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
.content-loading .path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round;stroke-width:4px;stroke:var(--loader-color);}
body>.content-loading{display:none;visibility:hidden;position:fixed;top:50%;left:50%;margin:-20px 0 0 -20px;opacity:0;transition:opactiy .5s;z-index:10000;}
@media screen and (prefers-reduced-motion: reduce){
body>.content-loading{transition:none;}
}
body>.content-loading:after{position:fixed;z-index:-1;background-color:var(--modal-backdrop-bg);opacity:.75;left:0;right:0;bottom:0;top:0;content:"";}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:.5rem 0;margin:.1875rem 0 0;font-size:1rem;color:var(--body-color);text-align:left;list-style:none;background-color:var(--dropdown-bg);background-clip:padding-box;border:0 solid var(--dropdown-border-color);border-radius:2px;box-shadow:var(--dropdown-box-shadow);}
.dropdown-divider{height:0;margin:.3125rem 0;overflow:hidden;border-top:1px solid var(--dropdown-divider-bg);}
.dropdown-item{display:block;width:100%;padding:0 1.25rem;clear:both;font-weight:400;color:var(--dropdown-link-color);text-align:inherit;white-space:nowrap;background-color:transparent;border:0;}
.dropdown-item:hover,.dropdown-item:focus{color:var(--dropdown-link-hover-color);text-decoration:none;background-color:var(--dropdown-link-hover-bg);}
.dropdown-item:active{color:var(--dropdown-link-active-color);text-decoration:none;background-color:var(--dropdown-link-active-bg);}
.dropdown-item:disabled{color:var(--dropdown-link-disabled-color);background-color:transparent;}
.dropdown-header{display:block;padding:.5rem 1.25rem;margin-bottom:0;font-size:.875rem;color:var(--dropdown-header-color);white-space:nowrap;}
.dropdown-menu{padding:0;box-shadow:0 1px 8px 0 var(--box-shadow-lg-color);border-radius:.25rem;}
.dropdown-menu-items{background-color:var(--dropdown-bg);border-radius:2px;padding:.5rem 0;margin:0;list-style-type:none;transition:transform .3s;}
@media screen and (prefers-reduced-motion: reduce){
.dropdown-menu-items{transition:none;}
}
.dropdown-item{font-size:14px;font-weight:500;line-height:18px;min-height:30px;display:flex;align-items:center;justify-content:space-between;}
.dropdown-item.text-danger:focus,.dropdown-item.text-danger:active{background-color:var(--danger);color:var(--component-active-color)!important;}
.dropdown-header{font-size:12px;line-height:18px;color:var(--dropdown-color);flex-direction:column;align-items:flex-start!important;}
.dropdown-header strong{font-size:14px;font-weight:500;line-height:18px;color:var(--dropdown-color);}
.dropdown__overlay{position:absolute;left:-100vw;top:-100vh;z-index:1000;display:block;}
.dropdown__overlay .dropdown-menu{position:relative;display:block!important;margin-top:0;}
.dropdown--placement-bottom .dropdown-menu{top:100%;bottom:auto;margin-top:10px;}
.dropdown--placement-right .dropdown-menu,.dropdown--placement-right-start .dropdown-menu{margin-left:10px;}
.dropdown__arrow{width:0;height:0;position:absolute;z-index:-1;}
.dropdown__arrow:before{content:"";width:12px;height:12px;z-index:-2;background-color:var(--dropdown-bg);border-radius:2px;position:absolute;top:0;margin-left:-1px;left:50%;transform:rotate(45deg) translateX(-50%);transform-origin:center center;box-shadow:var(--dropdown-box-shadow);}
.dropdown__arrow:after{content:"";position:absolute;top:0px;z-index:-1;width:20px;height:14px;background:var(--dropdown-bg);left:-10px;}
.dropdown--placement-bottom .dropdown__arrow{left:50%;}
.dropdown--placement-right .dropdown__arrow{top:50%;margin-top:-1px;}
.dropdown--placement-right .dropdown__arrow:before,.dropdown--placement-right-start .dropdown__arrow:before{margin-left:0;transform:rotate(45deg) translateX(-50%) translateY(0%);}
.dropdown--placement-right .dropdown__arrow:after,.dropdown--placement-right-start .dropdown__arrow:after{transform:rotate(-90deg) translateX(30%) translateY(50%);}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;outline:0;}
.modal-dialog{position:relative;width:auto;margin:.5rem;pointer-events:none;}
.modal.fade .modal-dialog{transition:transform 150ms ease-out;transform:translate(0, -25%);}
@media screen and (prefers-reduced-motion: reduce){
.modal.fade .modal-dialog{transition:none;}
}
.modal-content{position:relative;display:flex;flex-direction:column;width:100%;pointer-events:auto;background-color:var(--modal-content-bg);background-clip:padding-box;border:1px solid var(--modal-content-border-color);border-radius:.3rem;box-shadow:var(--modal-content-box-shadow);outline:0;}
.modal-body{position:relative;flex:1 1 auto;padding:30px;}
@media (min-width: 576px){
.modal-dialog{max-width:700px;margin:1.75rem auto;}
}
.avatar{--avatar-size:36px;--icon-size:16px;width:var(--avatar-size);height:var(--avatar-size);background-color:var(--org-avatar-bg);border-radius:2px;color:var(--org-avatar-color);display:flex;align-items:center;justify-content:center;overflow:hidden;flex-shrink:0;font-size:var(--icon-size);}
.avatar .icon svg{color:var(--org-avatar-color);fill:var(--org-avatar-color);}
.avatar.bg-transparent .icon svg{color:var(--body-color);fill:var(--body-color);}
.user-avatar{font-size:11px;line-height:11px;font-weight:bold;text-transform:uppercase;color:var(--org-avatar-color);position:relative;overflow:hidden;background:var(--org-avatar-color);display:flex;align-items:center;justify-content:center;-webkit-user-select:none;-moz-user-select:none;user-select:none;flex-shrink:0;}
.user-avatar.user-avatar--size-30{width:30px;height:30px;border-radius:15px;}
.back-to-overview{display:flex;align-items:center;color:var(--nav-link-color);margin-top:20px;margin-bottom:20px;font-size:14px;font-weight:500;line-height:18px;}
.back-to-overview .icon{font-size:16px;margin-right:14px;}
@media (min-width: 768px){
.back-to-overview{margin-top:0;min-height:24px;}
}
.changelog__trigger{cursor:pointer;color:var(--body-color);padding:0;border:none;background:none;width:30px;height:30px;}
.changelog__trigger:hover{background:none;}
.changelog__trigger:hover path{color:var(--link-hover-color);}
.changelog__icon{font-size:24px;}
.changelog__header{font-size:13px;line-height:20px;font-weight:500;padding:2px 15px 8px;margin:0;}
.changelog__container{width:250px;}
.changelog-entry{display:block;color:var(--body-color);border-top:1px solid var(--dropdown-border-color);}
.changelog-entry:hover,.changelog-entry:active,.changelog-entry:focus{background:var(--component-hover-bg);color:var(--body-color);}
.changelog-entry:hover .changelog-entry__anchor,.changelog-entry:active .changelog-entry__anchor,.changelog-entry:focus .changelog-entry__anchor{color:var(--link-color);}
.changelog-entry:last-child{border-radius:0 0 .25rem .25rem;}
.changelog-entry__header{display:flex;flex-flow:row;justify-content:space-between;padding:0 15px;margin-top:12px;margin-bottom:10px;}
.changelog-entry__date,.changelog-entry__version{font-size:10px;line-height:16px;}
.changelog-entry__date{color:var(--text-muted);margin-top:2px;}
.changelog-entry__version{font-weight:500;color:var(--changelog-version-color);padding:2px 9px 1px;background:var(--changelog-version-bg);border-radius:10px;}
.changelog-entry__description{font-size:13px;line-height:17px;font-weight:500;padding:0 15px;margin-bottom:2px;}
.changelog-entry__footer{margin-bottom:0;}
.changelog-entry:last-child .changelog-entry__footer{margin-bottom:-8px;}
.changelog-entry__anchor{position:relative;display:block;color:var(--body-color);font-size:12px;line-height:18px;font-weight:500;text-transform:uppercase;padding:10px 15px;margin-bottom:0;}
.changelog-entry__anchor:after{content:"";position:absolute;right:10px;top:13px;width:12px;height:12px;background-repeat:no-repeat;background-image:url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.37827 11.6743L0.86267 11.1587C0.740639 11.0367 0.740639 10.8388 0.86267 10.7168L5.56837 5.99989L0.86267 1.28296C0.740639 1.16093 0.740639 0.963066 0.86267 0.841009L1.37827 0.32541C1.5003 0.203379 1.69816 0.203379 1.82022 0.32541L7.27371 5.77893C7.39574 5.90096 7.39574 6.09882 7.27371 6.22088L1.82022 11.6744C1.69816 11.7964 1.5003 11.7964 1.37827 11.6743Z' fill='%23152022'/%3E%3C/svg%3E%0A");}
.search__icon{font-size:24px;}
.search__button{cursor:pointer;color:var(--body-color);border:none;background:none;padding:0;}
.search__button:hover path{color:var(--link-hover-color);}
.user__dropdown .dropdown-menu{max-width:200px;}
.user__details{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom:0;}
.user__box{display:flex;flex-direction:row;align-items:center;max-width:30vw;}
.user__button{display:block;cursor:pointer;background:none;border:none;padding:0;color:var(--body-color);}
.user__name{display:flex;align-items:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;margin-left:10px;margin-right:10px;color:var(--body-color);font-size:14px;font-weight:500;line-height:18px;}
.user__name-inner{min-width:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.header{height:var(--header-height);display:flex;align-items:center;background:var(--toolbar-bg);padding-left:15px;margin-left:-15px;margin-right:-15px;padding-right:15px;margin-bottom:20px;}
@media (min-width: 768px){
.header{margin-bottom:35px;margin-left:-15px;padding-left:15px;}
}
@media (min-width: 992px){
.header{margin-bottom:55px;margin-left:-35px;padding-left:35px;margin-right:-35px;padding-right:35px;}
}
.header__part--main{margin-left:-10px;padding:10px 0 10px 10px;overflow:hidden;flex-shrink:1;}
.header__part--fixed{display:flex;margin-left:auto;overflow:visible;flex-shrink:1;align-items:center;}
.header__title{font-size:21px;font-weight:500;line-height:30px;margin:0;border:none;height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.header__search,.header__changelog,.header__user{margin-left:10px;}
@media (min-width: 576px){
.header__search,.header__changelog,.header__user{margin-left:20px;}
}
.header__user{margin-left:13px;}
@media (min-width: 576px){
.header__user{margin-left:23px;}
}
.header__user .user__button{cursor:pointer;display:flex;flex-direction:row;background:none;border:none;align-items:center;}
.header__user .user__button .user__name{display:none;}
@media (min-width: 576px){
.header__user .user__button .user__name{display:flex;}
}
.header__user .user__button .icon-angle-down{display:none;}
@media (min-width: 576px){
.header__user .user__button .icon-angle-down{display:block;}
}
.header__nav-link{display:flex;align-items:center;justify-content:center;width:30px;height:30px;font-size:24px;color:var(--nav-link-color);background:none;border:none;}
@media print{
.header{display:none!important;}
}
.navigation__list{width:100%;list-style:none;padding-left:0;flex-direction:column;}
.navigation__item{margin-bottom:10px;}
.navigation__link{font-size:14px;min-height:24px;line-height:normal;color:var(--nav-link-color);font-weight:500;display:flex;flex-direction:row;align-items:center;transition:color 75ms cubic-bezier(0.4, 0, 0.2, 1);}
@media screen and (prefers-reduced-motion: reduce){
.navigation__link{transition:none;}
}
.navigation__link.active{color:var(--nav-link-active-color);}
@media (max-width: 767.98px){
.navigation__link{margin-left:4px;}
}
.navigation__icon{font-size:16px;margin-right:14px;width:1em!important;}
.context-switcher{margin-top:-3px;}
.context-switcher .dropdown-menu-items{width:280px;max-height:calc(100vh - 120px);overflow-y:auto;}
@media (max-height: 500px){
.context-switcher .dropdown-menu-items{max-height:calc(100vh - 55px);}
}
.context-switcher__trigger{height:calc(var(--header-height) - 12px);-webkit-user-select:none;-moz-user-select:none;user-select:none;display:flex;flex-shrink:0;align-items:center;justify-content:center;}
.context-switcher__btn{margin:0;padding:0;border:0;width:36px;height:36px;background:transparent;cursor:pointer;display:flex;white-space:nowrap;align-items:center;text-overflow:ellipsis;max-width:100%;}
.context-switcher__btn:focus,.context-switcher__btn:active{box-shadow:none!important;}
.context-switcher__anchor,.context-switcher__button{height:48px;display:flex;flex-direction:row;align-items:center;padding-left:14px;padding-right:14px;}
.context-switcher__anchor:hover,.context-switcher__button:hover{background-color:var(--component-hover-bg);}
.context-switcher__anchor:hover .context-switcher__name,.context-switcher__button:hover .context-switcher__name{color:var(--context-switcher-name-hover-color);}
.context-switcher__anchor.active{background:var(--component-hover-bg);}
.context-switcher__button--action{height:36px;}
.context-switcher__button{cursor:pointer;width:100%;border:none;background:none;}
.context-switcher__name{font-size:14px;font-weight:500;line-height:18px;color:var(--body-color);display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;max-height:36px;margin-left:10px;}
.toolbar{position:fixed;width:var(--toolbar-width);top:0;left:0;bottom:0;z-index:999;display:flex;flex-direction:column;align-items:center;background-color:var(--toolbar-bg);padding:6px 0;border:none;}
.toolbar .icon{width:25px;}
.toolbar__nav{display:flex;flex-direction:column;padding:0;list-style-type:none;}
.toolbar__nav-link{display:flex;align-items:center;justify-content:center;width:36px;height:36px;font-size:24px;color:var(--toolbar-nav-link-color);cursor:pointer;background:none;border:none;}
.toolbar__nav-link+.toolbar__nav-link{margin-top:10px;}
.toolbar__nav-link:hover path,.toolbar__nav-link:active path,.toolbar__nav-link:focus path{color:var(--link-hover-color);}
.toolbar__end{margin-top:auto;padding-bottom:20px;}
.toolbar__dropdown--add{margin-top:15px;margin-bottom:30px;}
@media (min-width: 992px){
.toolbar__dropdown--add{margin-top:50px;margin-bottom:50px;}
}
.toolbar__add-button{display:flex;justify-content:center;align-items:center;background:none;border:none;width:36px;height:36px;padding:0;font-size:30px;color:var(--toolbar-nav-link-color);cursor:pointer;}
.toolbar__add-button:hover,.toolbar__add-button:active,.toolbar__add-button:focus{color:var(--link-hover-color);}
@media print{
.toolbar{display:none!important;}
}
/*! CSS Used from: https://control.divio.com/static/css/frontend.b152972a0ea8.css */
.account-title__logout-button{margin-top:-5px;}
/*! CSS Used from: Embedded */
.intercom-lightweight-app{position:fixed;z-index:2147483001;width:0;height:0;font-family:intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;}
.intercom-lightweight-app-launcher{position:fixed;z-index:2147483003;padding:0!important;margin:0!important;border:none;bottom:20px;right:20px;max-width:48px;width:48px;max-height:48px;height:48px;border-radius:50%;background:#3C40F5;cursor:pointer;box-shadow:0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);transition:transform 167ms cubic-bezier(0.33, 0.00, 0.00, 1.00);box-sizing:content-box;}
.intercom-lightweight-app-launcher:hover{transition:transform 250ms cubic-bezier(0.33, 0.00, 0.00, 1.00);transform:scale(1.1);}
.intercom-lightweight-app-launcher:active{transform:scale(0.85);transition:transform 134ms cubic-bezier(0.45, 0, 0.2, 1);}
.intercom-lightweight-app-launcher:focus{outline:none;}
.intercom-lightweight-app-launcher-icon{display:flex;align-items:center;justify-content:center;position:absolute;top:0;left:0;width:48px;height:48px;transition:transform 100ms linear, opacity 80ms linear;}
.intercom-lightweight-app-launcher-icon-open{opacity:1;transform:rotate(0deg) scale(1);}
.intercom-lightweight-app-launcher-icon-open svg{width:24px;height:24px;}
.intercom-lightweight-app-launcher-icon-open svg path{fill:rgb(255, 255, 255);}
.intercom-lightweight-app-launcher-icon-minimize{opacity:0;transform:rotate(-60deg) scale(0);}
.intercom-lightweight-app-launcher-icon-minimize svg path{fill:rgb(255, 255, 255);}
@media print{
.intercom-lightweight-app{display:none;}
}
/*! CSS Used keyframes */
@-webkit-keyframes rotate{100%{transform:rotate(360deg);}}
@keyframes rotate{100%{transform:rotate(360deg);}}
@-webkit-keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0;}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px;}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px;}}
@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0;}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px;}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Helvetica Now";src:url("https://control.divio.com/static/fonts/5eec4451-e90c-42e7-b4d8-9b8654a65568.a04574c671bd.woff2") format("woff2"),url("https://control.divio.com/static/fonts/f7cf763b-e79b-4c28-af92-803e0c3f16d4.5776c1512cff.woff") format("woff");font-weight:400;font-style:normal;}
@font-face{font-family:"Helvetica Now";src:url("https://control.divio.com/static/fonts/2fd3ef81-07ed-45b4-a344-7a0defbdadcf.280269b0233e.woff2") format("woff2"),url("https://control.divio.com/static/fonts/52492279-0374-4238-ba8b-751b50089cf0.ed23a7d403a4.woff") format("woff");font-weight:500;font-style:normal;}
@font-face{font-family:"Helvetica Now";src:url("https://control.divio.com/static/fonts/081486f6-ae1e-4fc6-8ab9-6a939e96bbdc.f265842421bd.woff2") format("woff2"),url("https://control.divio.com/static/fonts/2acf5951-bff6-44e3-949f-a3fa4de57397.be489d0e3c86.woff") format("woff");font-weight:600;font-style:normal;}
